# Public host that your laptop/browser uses to open Blockscout (IP or DNS)
BLOCKSCOUT_HOST=localhost

# Keep current DB password that is already in your running containers
# (so you don't have to wipe volumes / reindex)
BLOCKSCOUT_DB_PASSWORD=ceWb1MeLBEeOIfk65gU8EjF8
