services:
  zk-postgres:
    image: postgres:16-alpine
    container_name: zk-postgres
    environment:
      POSTGRES_DB: zkp
      POSTGRES_USER: web3
      POSTGRES_PASSWORD: web3pass
    ports:
      - "5433:5432"
    volumes:
      - zkp_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U web3 -d zkp"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  zk-redis:
    image: redis:7-alpine
    container_name: zk-redis
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  proof-api:
    build:
      context: ../../../services/proof-api
      dockerfile: Dockerfile
    container_name: proof-api
    environment:
      PORT: "8080"
      DATABASE_URL: "postgres://web3:web3pass@zk-postgres:5432/zkp"
      REDIS_URL: "redis://zk-redis:6379"
      QUEUE_NAME: "prove"
      LOG_LEVEL: "info"
    ports:
      - "3101:8080"
    depends_on:
      zk-postgres:
        condition: service_healthy
      zk-redis:
        condition: service_healthy
    restart: unless-stopped

  prover-worker:
    build:
      context: ../../../services/prover-worker
      dockerfile: Dockerfile
    container_name: prover-worker
    environment:
      DATABASE_URL: "postgres://web3:web3pass@zk-postgres:5432/zkp"
      REDIS_URL: "redis://zk-redis:6379"
      QUEUE_NAME: "prove"
      WORKER_CONCURRENCY: "2"
      LOG_LEVEL: "info"
      METRICS_PORT: "9101"
    ports:
        - "9101:9101"
    depends_on:
      zk-postgres:
        condition: service_healthy
      zk-redis:
        condition: service_healthy
    restart: unless-stopped

volumes:
  zkp_pg_data: